* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display:  flex;
    width: 80vw;
    margin: auto;
}

header img {
    width: 80px;
    margin: 20px;
}


.titulo {
    color: white;
    text-align: center;
    margin: 20px auto;
}

main {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.lampada {
    cursor: pointer;
}

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}


.botoes button {
    width: 120px;
    height: 30px;
    background-color: rgb(4, 85, 192);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: all .5s;

}

.botoes button:hover {
    background-color: blueviolet;
}

